### Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
first = pd.Series([25, 35,98, 75, 46, 36, 50, 100, 458, 2])

In [3]:
first

0     25
1     35
2     98
3     75
4     46
5     36
6     50
7    100
8    458
9      2
dtype: int64

In [4]:
first.name = "series exercise"

In [5]:
first

0     25
1     35
2     98
3     75
4     46
5     36
6     50
7    100
8    458
9      2
Name: series exercise, dtype: int64

In [6]:
first.dtypes

dtype('int64')

In [7]:
first.values

array([ 25,  35,  98,  75,  46,  36,  50, 100, 458,   2], dtype=int64)

In [8]:
first[0]

25

In [9]:
first.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
first.index = [
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10
]

In [11]:
first

1      25
2      35
3      98
4      75
5      46
6      36
7      50
8     100
9     458
10      2
Name: series exercise, dtype: int64

In [12]:
first.iloc[3]

75

In [13]:
first.iloc[-1]

2

In [14]:
first > 50

1     False
2     False
3      True
4      True
5     False
6     False
7     False
8      True
9      True
10    False
Name: series exercise, dtype: bool

In [15]:
first[first > 50]

3     98
4     75
8    100
9    458
Name: series exercise, dtype: int64

- ~ not
- | or
- & and

Popülasyonu ortalamadan büyük olan değerleri ya da std/2 ile ortalamnın toplamının popülasyondan az olan

In [19]:
first.mean()

92.5

In [22]:
first.std()/2

66.08002303604657

In [23]:
first[(first> first.mean()) | (first > (first.std()/2 + first.mean()))]

3     98
8    100
9    458
Name: series exercise, dtype: int64