## Week 2

#### Exercise 2

Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as groupby() and read_csv().

In [52]:
import numpy as np
import pandas as pd

In [53]:
df = pd.read_csv("../Odevler/data/sales_data.csv")

In [54]:
type(df)

pandas.core.frame.DataFrame

In [55]:
df.drop_duplicates(inplace= True)

In [56]:
df.sort_values(by = "Revenue")

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
100529,2016-01-12,12,January,2016,30,Young Adults (25-34),F,Australia,Victoria,Accessories,Tires and Tubes,Patch Kit/8 Patches,1,1,2,1,1,2
98282,2016-03-12,12,March,2016,45,Adults (35-64),M,United States,Washington,Accessories,Tires and Tubes,Patch Kit/8 Patches,1,1,2,1,1,2
84668,2013-12-26,26,December,2013,23,Youth (<25),M,Canada,British Columbia,Accessories,Tires and Tubes,Patch Kit/8 Patches,1,1,2,1,1,2
88092,2016-01-10,10,January,2016,54,Adults (35-64),M,United States,California,Accessories,Tires and Tubes,Patch Kit/8 Patches,1,1,2,1,1,2
84646,2015-10-29,29,October,2015,23,Youth (<25),M,Canada,British Columbia,Accessories,Tires and Tubes,Patch Kit/8 Patches,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70699,2011-07-17,17,July,2011,30,Young Adults (25-34),F,Canada,British Columbia,Bikes,Road Bikes,"Road-150 Red, 56",4,2171,3578,5485,8684,14169
59919,2011-03-20,20,March,2011,29,Young Adults (25-34),F,Germany,Bayern,Bikes,Road Bikes,"Road-150 Red, 48",4,2171,3578,5485,8684,14169
71129,2011-07-08,8,July,2011,22,Youth (<25),M,Canada,Alberta,Bikes,Road Bikes,"Road-150 Red, 48",4,2171,3578,5628,8684,14312
112072,2013-07-24,24,July,2013,52,Adults (35-64),M,Australia,Queensland,Clothing,Vests,"Touring-1000 Yellow, 50",27,1482,2384,14055,40014,54069
112073,2015-07-24,24,July,2015,52,Adults (35-64),M,Australia,Queensland,Clothing,Vests,"Touring-1000 Yellow, 50",29,1482,2384,15096,42978,58074

In [57]:
df.fillna(0, inplace= True)

In [58]:
groups = df.groupby("Country")

In [59]:
groups.first()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Country,,,,,,,,,,,,,,,,,
Australia,2014-03-23,23,March,2014,49,Adults (35-64),M,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
Canada,2013-11-26,26,November,2013,19,Youth (<25),M,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
France,2013-07-15,15,July,2013,52,Adults (35-64),F,Seine Saint Denis,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,427,360,787
Germany,2013-08-07,7,August,2013,38,Adults (35-64),M,Saarland,Accessories,Bike Racks,Hitch Rack - 4-Bike,3,45,120,160,135,295
United Kingdom,2013-09-17,17,September,2013,29,Young Adults (25-34),F,England,Accessories,Bike Racks,Hitch Rack - 4-Bike,15,45,120,1053,675,1728
United States,2014-03-27,27,March,2014,51,Adults (35-64),M,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,9,45,120,524,405,929

In [38]:
# Finding the values contained "Australia" in the group
groups.get_group("Australia")

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
5,2016-05-15,15,May,2016,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,297,225,522
6,2014-05-22,22,May,2014,47,Adults (35-64),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112999,2016-04-06,6,April,2016,58,Adults (35-64),F,Australia,New South Wales,Clothing,Vests,"Classic Vest, L",22,24,64,697,528,1225
113008,2014-01-18,18,January,2014,32,Young Adults (25-34),F,Australia,Victoria,Clothing,Vests,"Classic Vest, M",28,24,64,744,672,1416
113009,2016-01-18,18,January,2016,32,Young Adults (25-34),F,Australia,Victoria,Clothing,Vests,"Classic Vest, M",29,24,64,770,696,1466
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183

In [39]:
groups["Revenue"].describe()

,count,mean,std,min,25%,50%,75%,max
Country,,,,,,,,
Australia,23736.0,893.006193,1485.841657,2.0,70.0,304.0,974.0,58074.0
Canada,14027.0,563.640265,1112.655734,2.0,54.0,149.0,594.0,14312.0
France,10920.0,770.581044,1286.885219,2.0,61.0,256.0,855.0,13740.0
Germany,11027.0,812.253922,1294.676481,2.0,78.0,316.0,893.0,14169.0
United Kingdom,13486.0,784.193089,1264.443729,2.0,77.0,259.0,881.0,13740.0
United States,38840.0,715.167302,1282.702578,2.0,59.0,197.0,754.0,14026.0

In [40]:
groups["Cost"].describe()

,count,mean,std,min,25%,50%,75%,max
Country,,,,,,,,
Australia,23736.0,609.027342,1074.956997,1.0,32.0,156.0,713.0,42978.0
Canada,14027.0,299.719327,676.302071,1.0,24.0,60.0,247.0,8684.0
France,10920.0,507.569872,905.378437,1.0,28.0,130.0,496.5,8684.0
Germany,11027.0,508.454974,865.703088,1.0,32.0,153.0,504.0,8684.0
United Kingdom,13486.0,459.116195,794.976692,1.0,29.0,126.0,461.0,8684.0
United States,38840.0,432.014933,843.098455,1.0,27.0,91.0,377.0,8684.0

In [41]:
groups.value_counts()

Country        Date        Day  Month    Year  Customer_Age  Age_Group             Customer_Gender  State       Product_Category  Sub_Category       Product                     Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  Revenue
Australia      2011-01-01  1    January  2011  23            Youth (<25)           M                Victoria    Bikes             Mountain Bikes     Mountain-200 Black, 46      1               1252       2295        561     1252  1813       1
               2011-01-02  2    January  2011  40            Adults (35-64)        M                Victoria    Bikes             Road Bikes         Road-550-W Yellow, 40       4               713        1120        687     2852  3539       1
               2016-01-26  26   January  2016  26            Young Adults (25-34)  M                Queensland  Accessories       Bottles and Cages  Road Bottle Cage            27              3          9           123     81    204        1
                                               35            Adults (35-64)        M                Queensland  Accessories       Tires and Tubes    Patch Kit/8 Patches         3               1          2           2       3     5          1
                                               31            Young Adults (25-34)  F                Tasmania    Bikes             Road Bikes         Road-150 Red, 52            1               2171       3578        727     2171  2898       1
                                                                                                                                                                                                                                                ..
United States  2014-07-26  26   July     2014  56            Adults (35-64)        F                California  Accessories       Tires and Tubes    Mountain Tire Tube          18              2          5           52      36    88         1
                                               54            Adults (35-64)        M                Washington  Clothing          Gloves             Half-Finger Gloves, L       24              9          24          233     216   449        1
                                                                                                                Accessories       Helmets            Sport-100 Helmet, Blue      20              13         35          286     260   546        1
                                                                                                                                  Bottles and Cages  Water Bottle - 30 oz.       11              2          5           21      22    43         1
               2016-07-31  31   July     2016  55            Adults (35-64)        F                California  Clothing          Jerseys            Long-Sleeve Logo Jersey, S  17              38         50          187     646   833        1
Length: 112036, dtype: int64

In [42]:
groups["Product_Category"].value_counts()

Country         Product_Category
Australia       Accessories         13341
                Bikes                7023
                Clothing             3372
Canada          Accessories         10088
                Clothing             2398
                Bikes                1541
France          Accessories          6615
                Bikes                2765
                Clothing             1540
Germany         Accessories          6481
                Bikes                3042
                Clothing             1504
United Kingdom  Accessories          8019
                Bikes                3485
                Clothing             1982
United States   Accessories         24768
                Bikes                7938
                Clothing             6134
Name: Product_Category, dtype: int64