## Week 2

#### Exercise

Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as groupby() and read_csv().

In [1]:
base_url = "../Odevler/data/covid/"
infected_dataset_url = base_url + "time_series_covid19_confirmed_global.csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_confirm = pd.read_csv(infected_dataset_url)
df_recovered = pd.read_csv(recovered_dataset_url)
df_deaths = pd.read_csv(deaths_dataset_url)

In [4]:
# Time data, combine data to single column
dates = df_confirm.columns[4:]

df_confirm_re = df_confirm.melt(
    id_vars= ["Province/State", "Country/Region", "Lat","Long"],
    value_vars= dates,
    var_name= "Date",
    value_name= "Confirmed"
)

df_recovered_re = df_recovered.melt(
    id_vars= ["Province/State", "Country/Region", "Lat","Long"],
    value_vars= dates,
    var_name= "Date",
    value_name= "Recovered"
)

df_deaths_re = df_deaths.melt(
    id_vars= ["Province/State", "Country/Region", "Lat","Long"],
    value_vars= dates,
    var_name= "Date",
    value_name= "Deaths"
)

In [5]:
# Merging two table
full_table = df_confirm_re.merge(
    right= df_recovered_re,
    how= "left",
    on = ["Province/State", "Country/Region",'Date', "Lat","Long"]
)

In [6]:
# Merging last table
full_table = full_table.merge(
    right= df_deaths_re,
    how= "left",
    on= ["Province/State", "Country/Region",'Date', "Lat","Long"]
)

In [7]:
full_table.tail()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Recovered,Deaths
38831,NaN,Sao Tome and Principe,0.186360,6.613081,6/15/20,662,177.0,12
38832,NaN,Yemen,15.552727,48.516388,6/15/20,844,79.0,208
38833,NaN,Comoros,-11.645500,43.333300,6/15/20,176,114.0,2
38834,NaN,Tajikistan,38.861034,71.276093,6/15/20,5097,3503.0,50
38835,NaN,Lesotho,-29.609988,28.233608,6/15/20,4,2.0,0

In [8]:
# Date data converted to readable format
full_table['Date'] = pd.to_datetime(full_table['Date'])

In [9]:
full_table.isna().sum()

Province/State    27010
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Recovered          2482
Deaths                0
dtype: int64

In [10]:
size_table = full_table.size
shape_table = full_table.shape

print(f"Table size {size_table}, shape {shape_table}")

Table size 310688, shape (38836, 8)

In [11]:
table_info = full_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38836 entries, 0 to 38835
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  11826 non-null  object
 1   Country/Region  38836 non-null  object
 2   Lat             38836 non-null  float64
 3   Long            38836 non-null  float64
 4   Date            38836 non-null  datetime64[ns]
 5   Confirmed       38836 non-null  int64
 6   Recovered       36354 non-null  float64
 7   Deaths          38836 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 2.7+ MB

In [12]:
type(full_table)

pandas.core.frame.DataFrame